{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "kube-apiserver"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "kube-apiserver",
        "image": "gcr.io/google_containers/hyperkube:v1.4.0",
        "command": [
          "/hyperkube",
          "apiserver",
          "--insecure-bind-address=0.0.0.0",
          "--bind-address=0.0.0.0",
          "--etcd_servers=http://master.example.com:2379",
          "--service-cluster-ip-range=10.254.0.0/16",
          "--secure-port=6443",
          "--insecure-port=8080",
          "--basic-auth-file=/etc/kubernetes/htpasswd",
          "--tls-cert-file=/var/run/kubernetes/kubelet.crt",
          "--tls-private-key-file=/var/run/kubernetes/kubelet.key",
          "--client-ca-file=/etc/kubernetes/certs/ca.crt",
          "--tls-cert-file=/etc/kubernetes/certs/server.crt",
          "--tls-private-key-file=/etc/kubernetes/certs/server.key",
          "--admission_control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ResourceQuota",
          "--allow-privileged=false"
        ],
        "ports": [
          {
            "name": "https",
            "hostPort": 443,
            "containerPort": 443
          },
          {
            "name": "local",
            "hostPort": 8080,
            "containerPort": 8080
          }
        ],
        "volumeMounts": [
          {
            "name": "etcssl",
            "mountPath": "/etc/ssl",
            "readOnly": true
          },
          {
            "name": "config",
            "mountPath": "/etc/kubernetes",
            "readOnly": true
          }
        ],
        "livenessProbe": {
          "httpGet": {
            "scheme": "HTTP",
            "host": "127.0.0.1",
            "port": 8080,
            "path": "/healthz"
          },
          "initialDelaySeconds": 15,
          "timeoutSeconds": 15
        }
      }
    ],
    "volumes": [
      {
        "name": "etcssl",
        "hostPath": {
          "path": "/etc/ssl"
        }
      },
      {
        "name": "config",
        "hostPath": {
          "path": "/etc/kubernetes"
        }
      }
    ]
  }
}
