apiVersion: v1
kind: Service
metadata:
  name: open-data-lv-mysql
  labels:
    app: open-data-lv
spec:
  ports:
    - port: 3306
  selector:
    app: open-data-lv
    tier: mysql
  clusterIP: None
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: open-data-lv-mysql
  labels:
    app: open-data-lv
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: open-data-lv
        tier: mysql
    spec:
      containers:
        - image: mysql:5.6
          name: mysql
          env:
            - name: MYSQL_USER
              value: user
            - name: MYSQL_PASSWORD
              value: password
          ports:
            - containerPort: 3306
              name: mysql-port
          volumeMounts:
            - name: mysql-glusterf-storage
              mountPath: /var/lib/mysql
          livenessProbe:
            tcpSocket:
              port: mysql-port
            initialDelaySeconds: 15
            timeoutSeconds: 1
      volumes:
        - name: mysql-glusterf-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim
