KUBELET_ADDRESS="--address=0.0.0.0"
KUBELET_HOSTNAME="--hostname-override=master.example.com"
KUBELET_API_SERVER="--api_servers=http://master.example.com:8080"
KUBELET_ARGS="--config=/etc/kubernetes/manifests --register-node=true"
