apiVersion: v1
kind: Config
current-context: kubelet-to-example.com
preferences: {}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/ca.crt
    server: https://master.example.com:6443
  name: example.com
contexts:
- context:
    cluster: example.com
    user: kube-proxy
  name: kubelet-to-example.com
users:
- name: kube-proxy
  user:
    token: {{ proxy_token }}
